* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.dashboard-wrapper {
    border: 2px black solid;
    margin: 2px; /*temp only */
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    border: green solid 2px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    border: green solid 2px;
}

.main {
    border: green solid 2px;
}